ip prefix-list prefixlist-ospf-to-bgp seq 10 permit 0.0.0.0/0 le 32

route-map route-map-ospf-to-bgp permit 10
  match ip address prefix-list prefixlist-ospf-to-bgp

router bgp {{ asn }}
{% for item in bgp_neighbors %}
   neighbor {{ item.neighbor }} remote-as {{ item.remote_as }}
   address-family ipv4 unicast

{% endfor %}
exit
exit
address-family ipv4 unicast
redistribute ospf 1 route-map route-map-ospf-to-bgp




ios_bgp_config 
router bgp {{ asn }}
{% for item in bgp_neighbors %}
   neighbor {{ item.neighbor }} remote-as {{ item.remote_as }}
{% endfor %}